body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
}

/* スマホ用のスタイル */
@media (max-width: 768px) {
    .AI_interviewer, .applicant {
        width: 80%; /* スマホ用の幅 */
        height: auto; /* 高さを自動調整 */
    }
}

/* PC用のスタイル */
@media (min-width: 769px) {
    .AI_interviewer, .applicant {
        width: 300px; /* PC用の幅 */
        height: 200px; /* PC用の高さ */
    }
}

svg {
    display: block;
    width: 100%;
    height: auto;
}

.top-svg {
    margin-bottom: 50px;
}

.bottom-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.AI_interviewer, .applicant {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
}

.AI_interviewer img, .applicant img {
    width: 100%;
    height: auto;
    object-fit: cover;
}